body{
    background-color: #f1f2f6;
}
.fblogin{
    text-align: center;
    font-family: Arial, Helvetica;
    margin:auto;
    border: 2px #DDDEE0 solid;
    background-color: white;
    width:400px;
    height: 300px;
    border-radius: 10px;
}
h1{
    text-align:center;
    color:#1777EF;
    font-family: 'lucidia grande', Tahoma, Verdana,areil, sans-serif;
    font-size: 2em;
    font-weight: light;
}
input{
    border: 2px #DDDEE0 solid; 
    display: inline-block;
    margin: 5px 15px;
    box-sizing:inline;
    height: 3em;
    width: 26em;
    border-radius:  7px;
    font-family: Arial, Helvetica;
    font-weight: bold;
    padding-left: 9px;

}
a.login{
    border: 1px #1777EF solid; 
    background-color: #1777EF;
    color:white;
    text-align: center;
    padding:12px 14px;
    display:inline-block;
    margin: 5px 15px;
    margin-left: 15px;
    box-sizing:border-box;
    font-size: medium;
    height: 3em;
    width: 23em;
    border-radius:7px;
    font-family: Arial, Helvetica;
    font-weight: bold;
    /*font-size: 20px;*/
    font-style: normal;
    text-decoration: none;
}
a.p{
    text-align: center;
    color: #1777EF;
    text-decoration: none;
    display: inline-block;
    margin:5px;
    font-size: medium;
}
a.d{
    text-align: center;
    color: #1777EF;
    text-decoration: none;
    display: inline-block;
    margin:5px;
    font-size: medium;
}